.about-partners {
  &_heading {
    text-align: center;
  }
  &_slider {
    margin: 5rem 2rem;
    .slide {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
      }
    }
  }
}

#dots-2 {
  margin-top: 3rem;
  .glider-dot {
    height: 8px;
    width: 8px;
  }
}
