.about-hero {
  margin-top: 15rem;
  &_heading {
    text-align: center;

    h1 {
      font-size: 3.6rem;
      font-weight: 600;
      text-transform: capitalize;
      color: $color-heading;
      span {
        color: #2c5981;
      }
    }
    p {
      margin-top: 4rem;
      height: 0.2rem;
      width: 20%;
      display: inline-block;
      background-color: $color-heading;
    }
  }

  &_story {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    padding: 5rem 4rem;
    background-color: #fbfdfe;

    &--img {
      width: 40%;
      img {
        width: 90%;
      }
    }
    &--content {
      width: 60%;
      h2 {
        color: $color-heading;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-top: 2rem;
      }
    }
    @include respond(phone-med) {
      flex-direction: column;
      &--img,
      &--content {
        text-align: center;
        width: 100%;
      }
      &--img {
        img {
          width: 50%;
        }
      }
      &--content {
        margin-top: 2rem;
      }
    }
  }
}
