.about-founder {
  padding: 6rem 8rem;
  background-color: $color-primary;
  justify-content: space-between;
  width: 100%;
  border-radius: 3rem;
  margin-bottom: 6rem;
  @include respond(tab-pot) {
    width: 90%;
  }
  &_img {
    width: 40%;
    img {
      width: 80%;
    }
  }
  &_content {
    background-image: url("https://res.cloudinary.com/dlghjr9qx/image/upload/v1656172673/PTC/Group_168_3_qipzbw_ekjdlb.webp");
    width: 70%;
    background-size: cover;
    display: flex;
    padding: 3rem 6rem;
    align-items: center;
    border-radius: 2rem;
    p {
      font-size: 2.4rem;

      color: white;
      line-height: 1.6;
      font-style: italic;
    }
    @include respond(tab-pot) {
      p {
        font-size: 2rem;
      }
    }
  }
  @include respond(phone-med) {
    flex-direction: column;
    &_img,
    &_content {
      width: 100%;
    }
    &_img {
      text-align: center;
      img {
        width: 50%;
      }
    }
    &_content {
      margin-top: 2rem;
      p {
        text-align: center;
      }
    }
  }
}
