.certificate__header {
  h2 {
    padding-top: 2rem;
    margin-bottom: 0 !important;
  }
}

.certificates__content {
  padding: 5rem 0;
  .imageGallery {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    .image {
      border: 1px solid $color-heading;
      padding: 1rem;
      border-radius: 0.5rem;
      display: inline-block;
      align-self: flex-start;
      .modal-land {
        width: 30rem;
        height: 25rem;
        border-radius: 0.5rem;
      }

      .modal-pot {
        width: 30rem;
        height: 38rem;
        border-radius: 0.5rem;
      }
      img {
        height: 85%;
        @include respond(phone-med) {
          height: 60%;
        }
        @include respond(phone) {
          height: 40%;
        }
      }
    }
  }
}

.__react_modal_image__header {
  .__react_modal_image__caption {
    font-size: 1.7rem !important;
    font-family: inherit !important;
  }
}
