.footer_contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 3rem 0;
  background-color: $color-heading;
  &_logo {
    display: flex;
    align-items: center;
    h2 {
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 400;
      padding-left: 1rem;
    }
  }
  &_bottom-nav {
    margin: 3rem 0;
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      li {
        .active {
          color: #3fa5d9 !important;
        }
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
        a {
          &:link,
          &:active,
          &:visited {
            font-size: 1.6rem;
            text-transform: capitalize;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  &_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: relative;
  }
}
