.item_content_header {
  padding: 15rem 0 7rem 0;
  .item_content {
    flex-direction: column;
    justify-content: center;
    .item_header-content--heading {
      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    #btn-1 {
      margin-right: 2rem;
    }
  }
}

.list-heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  text-transform: capitalize;
}
.about-hero_story--img {
  ul {
    list-style: none;
    a {
      &:link,
      &:active,
      :visited {
        text-decoration: none;
      }
      li {
        text-transform: capitalize;
        color: $color-text;
        font-size: 1.4rem;
        padding: 1rem 0 1rem 1rem;
        width: 90%;
        background-color: $color-primary;
        border-bottom: 0.2rem solid white;
        color: white;
        transition: all 0.1s ease-in-out;
        &:hover {
          background-color: $color-gradient-1;
        }
      }
      .selected {
        background-color: $color-gradient-1;
      }
    }
  }
}
.glider,
.glider-contain {
  margin: 0 !important;
}

#glider-main {
  width: 90%;
  max-height: 40vh;
}
.slider-img {
  width: 100% !important;
}

#dots-glider-main {
  margin-top: 1rem;
  .glider-dot {
    height: 0.9rem;
    width: 0.9rem;
  }
}

@include respond(phone-med) {
  .glider,
  .glider-contain {
    margin: 0 auto !important;
  }
  item_content {
    position: relative;
  }
  .list-heading {
    position: absolute;
    bottom: -45%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
  }
  .product-list {
    position: absolute;
    bottom: -133%;
    width: 100% !important;
    a {
      li {
        font-size: 1.6rem !important;
        width: 90% !important;
        // margin: 0 2rem;
      }
    }
  }
  .item-content--content {
    margin-bottom: 125%;
  }
}

@include respond(phone) {
  .list-heading {
    bottom: -32%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
  }
  .product-list {
    position: absolute;
    bottom: -112%;
    width: 100% !important;
    a {
      li {
        font-size: 1.6rem !important;
        width: 90% !important;
      }
    }
  }
  .item-content--content {
    margin-bottom: 130%;
  }
}

@media only screen and (max-width: 32.5em) {
  .list-heading {
    bottom: -34%;
  }
  .product-list {
    bottom: -114%;
  }
  .item-content--content {
    margin-bottom: 150%;
  }
}
@media only screen and (max-width: 28.125em) {
  .list-heading {
    bottom: -12%;
  }
  .product-list {
    bottom: -92%;
  }
  .item-content--content {
    margin-bottom: 200%;
  }
}
