.item_content_header {
  padding: 15rem 0 7rem 0;
  .item_content {
    flex-direction: column;
    justify-content: center;
    .item_header-content--heading {
      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    .item_content-btn {
      button {
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
      }
    }
  }
}
