.item_content_header {
  padding: 15rem 0 7rem 0;
  .item_content {
    flex-direction: column;
    justify-content: center;
    .item_header-content--heading {
      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    #btn-1 {
      margin-right: 2rem;
    }
  }
}

.list-heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  text-transform: capitalize;
}
.about-hero_story--img {
  ul {
    list-style: none;
    a {
      &:link,
      &:active,
      :visited {
        text-decoration: none;
      }
      li {
        text-transform: capitalize;
        color: $color-text;
        font-size: 1.4rem;
        padding: 1rem 0 1rem 1rem;
        width: 90%;
        background-color: $color-primary;
        border-bottom: 0.2rem solid white;
        color: white;
        transition: all 0.1s ease-in-out;
        &:hover {
          background-color: $color-gradient-1;
        }
      }
      .selected {
        background-color: $color-gradient-1;
      }
    }
  }
}
.glider,
.glider-contain {
  margin: 0 !important;
  width: 40rem;
}

#glider-main {
  width: 40rem;
  height: 40rem;
}
.slider-img {
  max-width: 100% !important;
  border-radius: 1rem;
}

#dots-glider-main {
  display: none;
  pointer-events: none;
  margin-top: 1rem;
  // justify-content: flex-start;
  .glider-dot {
    height: 0.9rem;
    width: 0.9rem;
  }
}

.breadcrumb {
  margin-bottom: 2rem;
  margin-top: 0 !important;
  a {
    color: $color-text;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}

@include respond(tab-pot) {
  #glider-main {
    width: 35rem;
    height: 35rem;
  }
}

@include respond(phone-med) {
  .glider,
  .glider-contain {
    margin: 0 auto !important;
  }

  .list-heading {
    display: none;
    pointer-events: none;
  }
  .product-list {
    display: none;
    pointer-events: none;
  }
}
