.sec_cta {
  display: flex;

  &-content {
    width: 84%;
    position: relative;
    .upper-triangle,
    .lower-triangle {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .upper-triangle {
      background-color: rgba($color: $color-primary, $alpha: 0.96);
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    }
    .lower-triangle {
      background-color: rgba($color: $color-primary, $alpha: 1);
      clip-path: polygon(0% 98%, 0% 100%, 100% 100%, 100% 0%, 99% 0%);
    }

    .text {
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translate(-50%, -65%);
      font-size: 2.4rem;
      font-weight: 500;
      color: $color-card-bg;
      text-align: center;
      width: 70%;
      .btn-card {
        border: 1px solid $color-card-bg;
        margin-top: 2rem;
        padding: 1.5rem 0;
        border-radius: 100%;
        background-color: transparent;
        img {
          width: 50%;
        }
      }
    }
  }
  &-img {
    padding: 6rem 0;
    justify-content: center;
    background-color: $color-card-bg;
    a {
      width: 30%;
      margin-right: 4rem;
      img {
        width: 110%;
      }
    }
  }
}
