.sec_cta {
  display: flex;

  &-content {
    width: 84%;
    position: relative;
    .upper-triangle,
    .lower-triangle {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .upper-triangle {
      background-color: rgba($color: $color-primary, $alpha: 0.96);
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    }
    .lower-triangle {
      background-color: rgba($color: $color-primary, $alpha: 1);
      clip-path: polygon(0% 98%, 0% 100%, 100% 100%, 100% 0%, 99% 0%);
    }

    .text {
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translate(-50%, -65%);
      font-size: 2.4rem;
      font-weight: 500;
      color: $color-card-bg;
      text-align: center;
      width: 70%;
      .btn-card {
        border: 1px solid $color-card-bg;
        margin-top: 2rem;
        padding: 1.5rem 0;
        border-radius: 100%;
        background-color: transparent;
        img {
          width: 50%;
        }
      }
      @include respond(tab-pot) {
        font-size: 2rem;
        .btn-card {
          padding: 2rem 0;
        }
      }
    }
  }
  &-img {
    padding: 6rem 0;
    justify-content: center;
    @include respond(tab-pot) {
      margin-top: 0 !important;
      justify-content: right;
    }
    background-color: $color-card-bg;
    a {
      width: 30%;
      margin-right: 4rem;
      img {
        width: 110%;
      }
    }
  }
  @include respond(phone-med) {
    position: relative;
    background-color: $color-primary;
    flex-direction: column;
    &-content {
      width: 100%;
      .upper-triangle,
      .lower-triangle {
        display: none;
        pointer-events: none;
      }
      .text {
        width: 70%;
        transform: translate(-50%, 50%);
        p {
          font-size: 2.2rem;
        }
        .btn-card {
          display: none;
          pointer-events: none;
        }
      }
    }
    &-img {
      justify-content: center;
      padding: 18rem 0 6rem 0;
      background-color: transparent;
    }
  }
  @include respond(phone) {
    &-content {
      .text {
        width: 90%;
      }
    }
  }
  @include respond(small-phone) {
    &-img {
      padding: 23rem 0 6rem 0;
    }
  }
}
