.sec_issues {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-heading {
    text-align: center;
  }
  &-images {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    img {
      width: 25%;
    }
  }
}
