.btn {
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  font-family: inherit;
}

.btn-pri {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 3rem;
  color: white;
  background: linear-gradient(45deg, $color-gradient-1, $color-gradient-2);
}

.btn-card {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0.2rem;
}

.btn-footer {
  border: 1px solid #3fa5d9;
  background: none;
  padding: 1rem 3.5rem;
  @include respond(tab-pot) {
    padding: 1rem 2rem;
  }
  color: #3fa5d9;
  font-family: inherit;
  font-weight: 600;
}
